body
{
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	text-align: left;
	font-weight: 400;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
	min-width: 850px;
	max-width: 1280px;
	height: 100vh;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-y: hidden;
}

#header
{
	display: block;
	height: 157px;
	border-bottom-color: #e0e0e0;
	border-bottom-width : 1px;
	border-bottom-style: solid;
}

#logo
{
	display: block;
	width: 165px;
	height: 133px;
	margin-top: 8px;
	float: left;
	background-image: url('DECODER_logo.png');
}

#title
{
	display: block;
	width: 680px;
	position: relative;
	top: 40%;
	float: right;
	transform: translateY(-40%);
	text-align: right;
}

#title a
{
	color: black;
	font-size: 2.2em;
	font-weight: bold;
}

#content
{
	display: block;
	height: calc(100% - 157px - 38px);
	overflow-y: auto;
	padding-right: 12px;
}

#footer
{
	display: block;
	height: 38px;
	border-top-color: #e0e0e0;
	border-top-width : 1px;
	border-top-style: solid;
	padding-top: 12px;
	color: #00a287;
}

#footer a
{
	color: #00a287;
}

h1
{
	color: #006957;
	font-size: 2em;
}

h2, h3, h4, h5, h6, h7, h8, h9
{
	color: #00a287;
	font-size: 1.5em;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

table, th, td
{
	border: 1px solid #00a287;
}

tr.header
{
	color: #00a287
}

a
{
	color: #000;
	text-decoration: none;
}

a:link
{
	color: #000;
}

a:visited
{
	color: #000;
}

a:hover
{
	color: #000;
}

a:active
{
	color: #000;
}

p
{
	text-align: justify;
}

p > a, li > a
{
	text-decoration: underline;
}

img
{
	width:100%;
	max-width: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
}

figure
{
	text-align: center;
}

figure figcaption
{
	color: #00a287;
}

pre
{
	font-family:Courier, monospace;
	font-size:12px;
	background-color: #fff;
	color: #303030;
	margin-bottom: 16px;
	border-radius: 2px;
	border: 1px solid #dbdbdb;
	white-space: pre-wrap;
}
